<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqkh.wallet.context.appservice.impl.domain.repository.mappers.BankCardDmoMapper" >
  <resultMap id="BaseResultMap" type="com.zqkh.wallet.context.appservice.impl.domain.repository.mappers.dmo.BankCardDmo" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="default_flag" property="defaultFlag" jdbcType="BIT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="bank_address" property="bankAddress" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.zqkh.wallet.context.appservice.impl.domain.repository.mappers.dmo.BankCardDmo" >
    insert into t_bank_card (code, card_no, default_flag, 
      user_name, type, bank_address, 
      account_id, bank_name, card_type
      )
    values (#{code,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{defaultFlag,jdbcType=BIT}, 
      #{userName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{bankAddress,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zqkh.wallet.context.appservice.impl.domain.repository.mappers.dmo.BankCardDmo" >
    insert into t_bank_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="defaultFlag != null" >
        default_flag,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="bankAddress != null" >
        bank_address,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="defaultFlag != null" >
        #{defaultFlag,jdbcType=BIT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null" >
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>